<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRvbKxk42kh5URuDn7fAMOpOg2RXB2uuw</string>
	<key>GCM_SENDER_ID</key>
	<string>504423796449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ieid</string>
	<key>PROJECT_ID</key>
	<string>ieid-8d946</string>
	<key>STORAGE_BUCKET</key>
	<string>ieid-8d946.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504423796449:ios:8d9a554bd647c724fc71a0</string>
</dict>
</plist>